* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish";

  background: $bg;

  display: flex;

  justify-content: center;

  align-items: center;

  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}
